.yarn/*
!.yarn/patches/
yarn.lock
node_modules

/*.tgz

build/

.vscode/
.idea/

# Code Signing
code-signing.pem
code-signing.pem.pub

# mprocs
mprocs.log

/packages/host/ios/GoogleService-Info.plist
